/* ContactPage.css */

.contact-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.realtor-info {
  display: flex;
  flex-direction: column; /* Изменено на столбцовую ориентацию для мобильных устройств */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.realtor-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; /* Добавлено отступание снизу для разделения фотографии от деталей риэлтора */
}

.realtor-details {
  text-align: center; /* Изменено на центрирование текста для мобильных устройств */
}

.realtor-details h2 {
  margin-bottom: 10px;
}

.chat-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Добавлено перенос кнопок на новую строку при нехватке места */
}

.chat-buttons-container button {
  margin: 10px; /* Уменьшено расстояние между кнопками для лучшего визуального восприятия */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* Добавлено равномерное распределение кнопок по ширине родительского контейнера */
  max-width: 200px; /* Ограничение максимальной ширины кнопок */
}

.chat-buttons-container button:hover {
  background-color: #0056b3;
}

.chat-buttons-container button img {
  margin-right: 10px;
}
