/* PropertyDetailPage.css */
/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  /* Ваши стили для мобильных устройств */
}

/* Стили для планшетов и мобильных устройств в альбомной ориентации */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Ваши стили для планшетов и мобильных устройств в альбомной ориентации */
}

/* Стили для планшетов и устройств среднего размера */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Ваши стили для планшетов и устройств среднего размера */
}

.property-details {
    padding: 20px;
  }
  
  .property-details img {
    max-width: 100%;
    height: auto;
  }
  
  .property-details h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .property-details p {
    margin-top: 10px;
    color: #666;
  }
