/* SearchProperty.css */

/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  .search-property {
    max-width: 300px; /* Пример ширины для мобильных устройств */
    margin: 0 auto;
    padding: 10px;
  }

  .search-property h2 {
    font-size: 1.2rem; /* Уменьшаем размер заголовка для мобильных устройств */
    margin-bottom: 10px;
  }

  .form-group label {
    font-size: 14px; /* Уменьшаем размер текста меток для мобильных устройств */
  }

  .form-group select,
  .form-group input[type='text'] {
    font-size: 14px; /* Уменьшаем размер текстового поля и выпадающего списка для мобильных устройств */
  }
}

/* Стили для планшетов и мобильных устройств в альбомной ориентации */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Ваши стили для планшетов и мобильных устройств в альбомной ориентации */
}

/* Стили для планшетов и устройств среднего размера */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Ваши стили для планшетов и устройств среднего размера */
}

/* Общие стили */
.search-property {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.search-property h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #343a40;
}

.review-avatar img {
  width: 50px;
  height: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #343a40;
}

.form-group select,
.form-group input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
